<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BouncyCastle" version="1.8.2" targetFramework="net45" />
  <package id="Dapper" version="1.50.2" targetFramework="net45" />
  <package id="EPPlus" version="4.5.2.1" targetFramework="net45" />
  <package id="MailKit" version="1.14.2" targetFramework="net45" />
  <package id="MimeKit" version="1.14.0" targetFramework="net45" />
  <package id="WinSCP" version="5.13.2" targetFramework="net45" />
</packages>